@import url("https://fonts.googleapis.com/css2?family=Caudex&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
header {
  
  background-color: transparent;
  z-index: 4;
}
.hero-bg {
  width: 100%;
  height: 700px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img {
  width: 153px;
}

.carousel-item img {
  filter: brightness(50%);
}
.nav-item:hover,
.nav-item:focus {
  text-decoration: underline white;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 5px;
}
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}
.navbar-toggler:focus .navbar {
  background-color: black !important;
}
.navbar-toggler-icon {
  filter: brightness(120%);
}
.dropdown-toggle::after {
  display: none !important;
}
.carousel {
  display: relative;
}

.carousel-caption h2 {
  font-size: 4.8rem;

  font-family: Caudex;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}
.section-gap {
  margin-top: 50px;
}
.first-section-container h1 {
  font-family: Caudex;
  font-size: 75px;
}
.first-section-container p {
  font-family: Roboto;
  font-size: 31px;
}
#populer-dishes-section {
  background-color: #f6f5f5;
}
#populer-dishes-section div:nth-child(1) h1 {
  font-family: Caudex;
  font-size: 60px;
}
@media (max-width: 600px) {
  .logo,
  .navbar {
    width: 50%;
  }
  .logo {
    padding-left: 20px;
  }
  .navbar {
    justify-content: flex-end;
  }
}
@media (max-width: 991px) {
  header {
    background-color: black;
  }
  .first-section-container {
    width: 100% !important;
  }
}
@media (max-width: 969px) {
  .carousel-caption {
    display: none !important;
  }
}
